$accent-color: #0A224A;
$white: #FFF;
$light-blue: #F7FAFF;
$grey: #D9D9D9;
$dark-grey: #B6B6B6;
$error-gmail:#E74A3B;



$logo-color: #000000;
    $text-color: #212121;
    $additional-text-color: #757575;
    $back-ground-footercolor: #2F303A;
    $back-ground-footer-transparent-color: #2F303A;
    $main-color: #FFFFFF;
    $back-ground-color: #F5F4FA;
    $back-ground-main-portfolio-color: #EEEEEE;
    $icon: #AFB1B8;
    $border-up: #ECECEC;